{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/unfollow_popup.css' %}">

    {% block extrastyles %}
    {% endblock %}

    {% if title %}
        <title>Entry - {{ title }}</title>
    {% else %}
        <title>Entry</title>
    {% endif %}

    <style>
      .inbox-noti {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
        border-radius: 2px;
      }

      .inbox-noti .badge {
        position: absolute;
        top: 5px;
        right: -10px;
        border-radius: 100%;
        background: red;
        color: white;
      }
      {% block componentstyles %}
      {% endblock %}
    </style>
  </head>
  <body>
    <header class="site-header">


      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Entry</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
            </div>
            <div class="navbar-nav mr-auto search-bar">
              <form id="searchBarF" name="searchBarF" method="GET" action="{% url 'search_posts' %}">


                <div style="float:left;">
                  <input type="text" class="form-control" name="q" id="id_q" placeholder="Search...">
                </div>

                <div style="float:left;">
                  <select id="searchT" name="searchT" class="form-control">
                    <option value="{% url 'search_posts' %}">Search Posts</option>
                    <option value="{% url 'search_profiles' %}">Search Profiles</option>
                  </select>
                </div>
              </form>
              <a class="nav-item nav-link" href="{% url 'category-list-view' %}">Categories</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                {% if user.profile.image %}
                <a class="nav-item nav-link" href="{% url 'user-posts' user.username %}"><img class="rounded-circle mx-auto d-block" src="{{ user.profile.image.url }}" style="height:28px; width:28px; border:2px solid;"></a>
                {% endif %}
                <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                <a class="nav-item nav-link" href="{% url 'profiles-list' %}">list profiles</a>
                <a class="nav-item nav-link" href="{% url 'view-later-list' user.username %}">View Later</a>
                <a class="nav-item nav-link inbox-noti" href="{% url 'inbox' %}">
                  <span>Inbox</span>
                  {% if directs_count %}
                  <span class="badge">{{ directs_count }}</span>
                  {% endif %}
                </a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

  <main role="main" class="container">
    <div class="row">
      {% block sidebar %}{% endblock %}
      <div class="col">
        {% if messages %}
            {% for message in messages%}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- <script type="text/javascript">
      document.getElementById("id_q").value = "{{ query }}"
    </script> -->

    <script>
      document.getElementById('searchBarF').searchT.onchange = function() {
        var newaction = this.value;
        document.getElementById('searchBarF').action = newaction;
      };
    </script>

    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
