{% load static %}
<article class="media content-section">
  {% if post.author.profile.image %}
  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
  {% endif %}
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
      {% if post.category != " " %}<small><a class="text-muted mr-2" href="{% url 'category-view' post.category %}">| {{ post.category }}</a></small>{% endif %}
    </div>
    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content|truncatewords:10|safe }}</p>
    <p class="text-muted">Likes: {{ post.total_likes }}</p>
  </div>
</article>
