{% load static %}
<article class="media content-section">
  {% if object.author.profile.image %}
  <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
  {% endif %}
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted | date:"F d, Y" }}</small>
      {% if post.category != " " %}<small><a class="text-muted mr-2" href="{% url 'category-view' post.category %}">| {{ post.category }}</a></small>{% endif %}
      {% if object.author == user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update Post</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete Post</a>
        </div>
      {% else %}
        <div>
          {% if view_later %}
          <form action="{% url 'view-later-post' post.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="nview_posts_id" value={{ object.id }}>
            <button class="btn btn-primary btn-sm">Remove From View Later</button>
          </form>
          {% else %}
          <form action="{% url 'view-later-post' post.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="nview_posts_id" value={{ object.id }}>
            <button class="btn btn-primary btn-sm" type="submit">View Later</button>
          </form>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <h2 class="article-title display-4">{{ object.title }}</h2>
    {% if object.video_path %}
    <video width="500px" height="500px" controls>
      <source src="{{ object.video_path.url }}" type="video/mp4">
    </video>
    {% endif %}
    {% if object.image %}
      <img class="img-fluid" alt="Responsive image" src="{{ object.image.url }}">
    {% endif %}
    <hr>
    <p class="article-content">{{ object.content|safe }}</p>
  </div>
</article>
{% if liked %}
<form action="{% url 'like-post' post.pk %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="liked_posts_id" value={{ object.id }}>
  <button class="btn btn-primary btn-sm">UNLIKE</button> - {{ total_likes }} Likes
</form>
{% else %}
<form action="{% url 'like-post' post.pk %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="liked_posts_id" value={{ object.id }}>
  <button class="btn btn-primary btn-sm" type="submit">LIKE</button> - {{ total_likes }} Likes
</form>
{% endif %}
<hr>
